<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="ToRead helps readers and learners to organize their material and thoughts to a seamless space."
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="<%= require('@/assets/svg/logo.svg') %>"
    />
    <link
      rel="apple-touch-icon"
      href="<%= require('@/assets/img/apple-touch-icon.png') %>"
    />
  </head>
  <body>
    <div id="app"></div>
    <noscript
      ><strong
        >This site uses Javascript. Please enable Javascript in your browser to
        continue.</strong
      ></noscript
    >
  </body>
</html>
